<h1>About</h1>
<p>This is Joe Matula's web app for DePaul's IT 231-801 Winter 2017.
<br>
It was made using:
<ul>
   <li>Cloud9 IDE</li>
   <li>Ruby</li>
   <li>Rails</li>
   <li>Bootstrap</li>
   <li>Github</li>
   <li>Heroku</li>
</ul>
</p>