<h1>Home</h1>
<p>This is Joe Matula' static home page.
<br>
Check out <a href="/users">Users</a> and <a href="/microposts">Microposts</a>!
<br>
See the <a href="/static_pages/about">About</a> page for more information and <a href="/static_pages/links">Links</a> for some links!
</p>