<h1>Links</h1>
<p>Here are some links to things related to this site:
<ul>
   <li><a href="https://ide.c9.io/jmatula/it231_assignment4">Cloud9 workspace</a></li>
   <li><a href="https://github.com/joe-matula/it231_assignment4">This site's Github repo</a></li>
   <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
   <li><a href="https://www.railstutorial.org/book">Rails Tutorial</a></li>
   <li><a href="http://www.w3schools.com/bootstrap/default.asp">w3schools Bootstrap tutorial</a></li>
</ul>
</p>